{{ form_start(form) }}
<div class="row">
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.theme) }}
        </div>

        <div class="col-md-3">
            {{ form_row(form.user) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.createdAt) }}
        </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.text) }}
            </div>
        </div>

</div>
{{ form_end(form) }}