{% extends 'CreedGuestbookBundle::layout.html.twig' %}

{% block body %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="text-center">
                <h4>{{ pagerfanta(messages) }}</h4>
            </div>

            {% include 'CreedGuestbookBundle:Default:form.html.twig' with{'form': form} %}

        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                                <div class="col-lg-12">{{ message.theme }}
                                </div>
                                <div class="row">
                                    <div class="col-md-2"> {{ message.user }}
                                    </div>
                                    <div class="col-md-2"> {{ message.email }}
                                    </div>
                                    <div class="col-md-2"> {{ message.createdAt|date('Y-m-d') }}
                                    </div>
                                </div>
                                    <p class="col-lg-12 well">{{ message.text|truncate(83, '...') }}</p>

                                    

                                <hr/>
                            {% endfor %}

                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>

        <footer>
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">

                    <h4 class="col-md-12 text-center pagerfanta"> {{ pagerfanta(messages) }}</h4>


            </div>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
{% endblock %}
